<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="log_path" value="/ignite-test"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %X{correlationId} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.springframework">
        <level value="TRACE"/>
    </logger>

    <logger name="org.apache.commons">
        <level value="OFF"/>
    </logger>

</configuration>